<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Property Details</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <td><strong>Seller:</strong></td><td><%= best_in_place @titlerequest, :SELLER %></td>
        </tr>
        <tr>
          <td><strong>Address:</strong></td><td><%= best_in_place @titlerequest, :ADDRESS %></td>
        </tr>
        <tr>
          <td><strong>County:</strong></td><td><%= best_in_place @titlerequest, :COUNTY %></td>
        </tr>
        <tr>
          <td><strong>Town:</strong></td><td><%= best_in_place @titlerequest, :TOWN %></td>
        </tr>
        <tr>
          <td><strong>Parcel No:</strong></td><td><%= best_in_place @titlerequest, :PARCEL_NO %></td>
        </tr>
        <tr>
          <td><strong>Prop Code:</strong></td><td><%= best_in_place @titlerequest, :PROP_CODE %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
