<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
       <h3 class="panel-title">Request Details</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <td><strong>Order Recorded:</strong></td><td><%= best_in_place @titlerequest, :ORDER_RECD, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>Order Received by:</strong></td><td><%= best_in_place @titlerequest, :OR_RECD_BY %></td>
        </tr>
        <tr>
          <td><strong>File Number:</strong></td><td><%= best_in_place @titlerequest, :FILE_NO %></td>
        </tr>
        <tr>
          <td><strong>File Opened:</strong></td><td><%= best_in_place @titlerequest, :FILEOPENED, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>File Closed:</strong></td><td><%= best_in_place @titlerequest, :FILE_CLOSE, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>Bank:</strong></td><td><%= best_in_place @titlerequest, :BANK %></td>
        </tr>
        <tr>
          <td><strong>Memo:</strong></td><td><%= best_in_place @titlerequest, :MEMO, :as => :textarea %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
