<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
       <h3 class="panel-title">Request Details</h3>
    </div>
    <div class="panel-body">
      <table>
        <tr>
<% if false %>
          <td><strong>Order Recorded:</strong></td><td><%= best_in_place @titlerequest, :ORDER_RECD, :url => title_request_path, :as => :date %></td>
<% end %>
          <td><strong>Order Recorded:</strong></td><td><%= best_in_place @titlerequest, :ORDER_RECD, :url => @url_action, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>Order Recevied by:</strong></td><td><%= best_in_place @titlerequest, :OR_RECD_BY, :url => title_request_path %></td>
        </tr>
        <tr>
          <td><strong>File Opened:</strong></td><td><%= @titlerequest.FILEOPENED %></td>
        </tr>
        <tr>
          <td><strong>File Number:</strong></td><td><%= @titlerequest.FILE_NO %></td>
        </tr>
        <tr>
          <td><strong>File Closed:</strong></td><td><%= @titlerequest.FILE_CLOSE %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
