<div class="panel panel-default">
  <div class="panel-heading">
     <h3 class="panel-title">Property Details</h3>
  </div>
  <div class="panel-body">

    <div class="form-group">
      <%= f.label :seller %>
      <%= f.text_field :seller, class: 'col-sm-9' %>
    </div>

    <div class="form-group">
      <%= f.label :close_date, "Closing Date" %>
      <%= f.date_field :close_date %>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'col-sm-9' %>
    </div>

    <div class="form-group">
      <%= f.label :town %>
      <%= f.text_field :town, class: 'col-sm-9' %>
    </div>

    <div class="form-group">
      <%= f.label :county %>
      <%= f.text_field :county, class: 'col-sm-9' %>
    </div>

    <div class="form-group">
      <%= f.label :parcel_no, "Parcel Number" %>
      <%= f.text_field :parcel_no, class: 'col-sm-9' %>
    </div>
  </div>
</div>
