<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Policy Dates</h3>
  </div>
  <div class="panel-body">

    <div class="form-group">
      <%= f.label :patriot_ds %>
      <%= f.date_field :patriot_ds %>
    </div>

    <div class="form-group">
      <%= f.label :policy_out %>
      <%= f.date_field :policy_out %>
    </div>

    <div class="form-group">
      <%= f.label :policy_bck %>
      <%= f.date_field :policy_bck %>
    </div>

    <div class="form-group">
      <%= f.label :policy_iss %>
      <%= f.date_field :policy_iss %>
    </div>

    <div class="form-group">
      <%= f.label :redate_abs %>
      <%= f.date_field :redate_abs %>
    </div>

    <div class="form-group">
      <%= f.label :tit_review %>
      <%= f.date_field :tit_review %>
    </div>

    <div class="form-group">
      <%= f.label :commit_out %>
      <%= f.date_field :commit_out %>
    </div>

    <div class="form-group">
      <%= f.label :commit_bck %>
      <%= f.date_field :commit_bck %>
    </div>

    <div class="form-group">
      <%= f.label :commit_iss %>
      <%= f.date_field :commit_iss %>
    </div>

    <div class="form-group">
      <%= f.label :markup_rcd %>
      <%= f.date_field :markup_rcd %>
    </div>

    <div class="form-group">
      <%= f.label :rec_pay, "Payment Recorded" %>
      <%= f.date_field :rec_pay %>
    </div>

    <div class="form-group">
      <%= f.label :rec_doc_rd %>
      <%= f.date_field :rec_doc_rd %>
    </div>
  </div>
</div>
