<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Policies</h3>
  </div>
  <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Bank Policy</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :MTG_AMOUNT, "Mortgage Amount" %>
          <%= f.currency_field :MTG_AMOUNT %>
        </div>

        <div class="form-group">
          <%= f.label :MTG_PREM %>
          <%= f.currency_field :MTG_PREM %>
        </div>

        <div class="form-group">
          <%= f.label :MTG_POLICY %>
          <%= f.text_field :MTG_POLICY %>
        </div>

        <div class="form-group">
          <%= f.label :SIMULT_MTG %>
          <%= f.text_field :SIMULT_MTG %>
        </div>

        <div class="form-group">
          <%= f.label :CONV_POLIC %>
          <%= f.text_field :CONV_POLIC %>
        </div>

        <div class="form-group">
          <%= f.label :M_POL_CODE %>
          <%= f.text_field :M_POL_CODE %>
        </div>

        <div class="form-group">
          <%= f.label :B_PREM_MTG, "Base Premium" %>
          <%= f.currency_field :B_PREM_MTG %>
        </div>

        <div class="form-group">
          <%= f.label :TOTAL_M_PREM, "Total Premium" %>
          <%= f.currency_field :TOTAL_M_PREM %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Owner's Policy</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :FEE_AMOUNT %>
          <%= f.currency_field :FEE_AMOUNT %>
        </div>

        <div class="form-group">
          <%= f.label :FEE_PREM %>
          <%= f.currency_field :FEE_PREM %>
        </div>

        <div class="form-group">
          <%= f.label :FEE_POLICY %>
          <%= f.text_field :FEE_POLICY %>
        </div>

        <div class="form-group">
          <%= f.label :O_POL_CODE %>
          <%= f.text_field :O_POL_CODE %>
        </div>

        <div class="form-group">
          <%= f.label :B_PREM_FEE, "Base Premium" %>
          <%= f.currency_field :B_PREM_FEE %>
        </div>

        <div class="form-group">
          <%= f.label :TOTAL_O_PREM, "Total Premium" %>
          <%= f.currency_field :TOTAL_O_PREM %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :PROP_CODE, "Prop Code" %>
      <%= f.text_field :PROP_CODE, class: 'col-sm-9' %>
    </div>

    <div class="form-group">
      <%= f.label :STAND_CODE %>
      <%= f.text_field :STAND_CODE %>
    </div>

    <div class="form-group">
      <%= f.label :STAND_AMNT %>
      <%= f.currency_field :STAND_AMNT %>
    </div>

    <div class="form-group">
      <%= f.label :RISK_CODE %>
      <%= f.text_field :RISK_CODE %>
    </div>

    <div class="form-group">
      <%= f.label :RISK_AMNT %>
      <%= f.currency_field :RISK_AMNT %>
    </div>

    <div class="form-group">
      <%= f.label :REMIT_AMNT, "Remittance Amount" %>
      <%= f.currency_field :REMIT_AMNT %>
    </div>

    <div class="form-group">
      <%= f.label :PRIOR_AMNT, "Prior Eligible Amount" %>
      <%= f.currency_field :PRIOR_AMNT %>
    </div>

  </div>
</div>
