<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Underwriter</h3>
  </div>
  <div class="panel-body">
    <%= f.select :lt_tt_w_fn, TitleRequest.select(:lt_tt_w_fn).distinct {|r| [r.lt_tt_w_fn, r.lt_tt_w_fn] }, { include_blank: true } %>

  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Policies</h3>
  </div>
  <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Bank Policy</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :mtg_amount, "Mortgage Amount" %>
          <%= f.currency_field :mtg_amount %>
        </div>

        <div class="form-group">
          <%= f.label :mtg_policy %>
          <%= f.text_field :mtg_policy %>
        </div>

        <div class="form-group">
          <%= f.label :simult_mtg %>
          <%= f.text_field :simult_mtg %>
        </div>

        <div class="form-group">
          <%= f.label :conv_polic %>
          <%= f.text_field :conv_polic %>
        </div>

        <div class="form-group">
          <%= f.label :m_pol_code %>
          <%= f.text_field :m_pol_code %>
        </div>

        <div class="form-group">
          <%= f.label :b_prem_mtg, "Base Premium" %>
          <%= f.currency_field :b_prem_mtg %>
        </div>

        <div class="form-group">
          <%= f.label :total_m_prem, "Total Premium" %>
          <%= f.currency_field :total_m_prem %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Owner's Policy</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label :fee_amount %>
          <%= f.currency_field :fee_amount %>
        </div>

        <div class="form-group">
          <%= f.label :fee_policy %>
          <%= f.text_field :fee_policy %>
        </div>

        <div class="form-group">
          <%= f.label :o_pol_code %>
          <%= f.text_field :o_pol_code %>
        </div>

        <div class="form-group">
          <%= f.label :b_prem_fee, "Base Premium" %>
          <%= f.currency_field :b_prem_fee %>
        </div>

        <div class="form-group">
          <%= f.label :total_o_prem, "Total Premium" %>
          <%= f.currency_field :total_o_prem %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Policy Codes</h3>
      </div>

      <div class="form-group">
        <%= f.label :prop_code, "Prop Code" %>
        <%= f.text_field :prop_code, class: 'col-sm-9' %>
      </div>

      <div class="form-group">
        <%= f.label :stand_code %>
        <%= f.text_field :stand_code %>
      </div>

      <div class="form-group">
        <%= f.label :stand_amnt %>
        <%= f.currency_field :stand_amnt %>
      </div>

      <div class="form-group">
        <%= f.label :risk_code %>
        <%= f.text_field :risk_code %>
      </div>

      <div class="form-group">
        <%= f.label :risk_amnt %>
        <%= f.currency_field :risk_amnt %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Remittance Information</h3>
      </div>

      <div class="form-group">
        <%= f.label :remit_amnt, "Remittance Amount" %>
        <%= f.currency_field :remit_amnt %>
      </div>

      <div class="form-group">
        <%= f.label :prior_amnt, "Prior Eligible Amount" %>
        <%= f.currency_field :prior_amnt %>
      </div>
    </div>
  </div>
</div>
