<div class="panel panel-default">
  <div class="panel-heading">
     <h3 class="panel-title">Request Details</h3>
  </div>
  <div class="panel-body">

    <div class="form-group">
      <%= f.label :order_recd, "Order Received On" %>
      <%= f.date_field :order_recd %>
    </div>

    <div class="form-group">
      <%= f.label :or_recd_by, "Received From" %>
      <%= f.text_field :or_recd_by, class: 'col-sm-9' %>
    </div>

    <div class="form-group">
      <%= f.label :review_by, "Reviewed By" %>
      <%= f.text_field :review_by, class: 'col-sm-9' %>
    </div>

    <div class="form-group">
      <%= f.label :file_no, "File Number" %>
      <%= f.text_field :file_no, class: 'col-sm-9' %>
    </div>

    <div class="form-group">
      <%= f.label :fileopened, "File Opened" %>
      <%= f.date_field :fileopened %>
    </div>

    <div class="form-group">
      <%= f.label :file_close, "File Closed On" %>
      <%= f.date_field :file_close %>
    </div>

    <div class="form-group">
      <%= f.label :bank %>
      <%= f.text_field :bank, class: 'col-sm-9' %>
    </div>

    <div class="form-group">
      <%= f.label :memo %>
      <%= f.text_area :memo, class: 'col-sm-9' %>
    </div>
  </div>
</div>
