<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Policy Dates</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <td><strong>PATRIOT_DS:</strong></td><td><%= best_in_place @titlerequest, :PATRIOT_DS, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>Policy Out:</strong></td><td><%= best_in_place @titlerequest, :POLICY_OUT, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>Policy Back:</strong></td><td><%= best_in_place @titlerequest, :POLICY_BCK, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>Policy ISS:</strong></td><td><%= best_in_place @titlerequest, :POLICY_ISS, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>REDATE_ABS:</strong></td><td><%= best_in_place @titlerequest, :REDATE_ABS, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>TIT_REVIEW:</strong></td><td><%= best_in_place @titlerequest, :TIT_REVIEW, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>COMMIT_OUT:</strong></td><td><%= best_in_place @titlerequest, :COMMIT_OUT, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>COMMIT_BCK:</strong></td><td><%= best_in_place @titlerequest, :COMMIT_BCK, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>COMMIT_ISS:</strong</td><td><%= best_in_place @titlerequest, :COMMIT_ISS, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>MARKUP_RCD:</strong></td><td><%= best_in_place @titlerequest, :MARKUP_RCD, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>REC_PAY_FN:</strong></td><td><%= best_in_place @titlerequest, :REC_PAY_FN, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>REC_PAY_W:</strong></td><td><%= best_in_place @titlerequest, :REC_PAY_W, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>REC_PAY_TT:</strong></td><td><%= best_in_place @titlerequest, :REC_PAY_TT, :as => :date %></td>
        </tr>
        <tr>
          <td><strong>REC_DOC_RD:</strong></td><td><%= best_in_place @titlerequest, :REC_DOC_RD, :as => :date %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
