
<div class="container">
  <h1>Create a New Title Request</h1>

  <%= form_for @titlerequest, builder: TidyFormBuilder do |f| %>
    <div class="form-group">
      <%= f.label :LAST_NAME %>
      <%= f.text_field :LAST_NAME %>
    </div>

    <div class="form-group">
      <%= f.label :FIRST_NAME %>
      <%= f.text_field :FIRST_NAME %>
    </div>
  
    <%= f.submit "Create Title Request", class: "btn btn-primary" %>
  <% end %>
</div>
