<% content_for :js do %>
  <script type="text/javascript">
    <%= render 'file_details.js' %>
  </script>
<% end %>

<h1>New Title Request</h1>

<%= form_for(@titlerequest, url: {action: "create"}) do |f| %>
  <%= f.label :LAST_NAME %>
  <%= f.text_field :LAST_NAME, class: 'form-control' %>

  <%= f.submit "Create Title Request", class: "btn" %>
<% end %>

