
<div class="container">

  <div class="page-header">
    <h1>Request for <%= @titlerequest.LAST_NAME %>, <%= @titlerequest.FIRST_NAME %><small> -- <%= link_to "Edit", edit_title_request_url %></small></h1>
  </div>
  <%= form_for @titlerequest, :html => {class: 'form-horizontal'}, builder: TidyFormBuilder do |f| %>
    <fieldset disabled="disabled">
      <div class="row">
          <div class="col-md-6">
            <%= render 'form_file_details', :f => f %>
          </div>

          <div class="col-md-6">
            <%= render 'form_property_details', :f => f %>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= render 'form_policy_dates', :f => f %>
        </div>

        <div class="col-md-6">
          <%= render 'form_policy_details', :f => f %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
