<% content_for :js do %>
  <script type="text/javascript">
    <%= render 'file_details.js' %>
  </script>
<% end %>

<% @url_action = title_request_path @titlerequest %>

<h1>Request for: <%= best_in_place @titlerequest, :LAST_NAME %>, <%= best_in_place @titlerequest, :FIRST_NAME %></h1>

<div class="row">
  <%= render 'file_details' %>
  <%= render 'address' %>
  <%= render 'policy_dates' %>
</div>
