<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <div class="row">
      <span id="logo"><%= link_to Settings.name_in_header, root_path %></span>
      <% if user_signed_in? %>
        <p class="navbar-text">Logged in as <strong><%= current_user.email %></strong>.</p>
      <% end %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "New Request", new_title_request_path %></li>
          <li><%= link_to "New Report", reporting_path %></li>
          <% if user_signed_in? %>
          <li><%= link_to "Edit profile", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><% link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
