<!DOCTYPE html>
<html>
  <head>
    <title>RelistApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :css %>

    <%= javascript_include_tag 'application' %>
    <%= yield :js %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <div class="row">
      <div class="col-md-12">
         <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>

